html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(45deg, #CCFFFF, #FFCCCC);
}

audio {
  display: none;
}

.secrets {
  text-align: center;
}

#aestheticize {
  color: black;
  font-size: 12px;
}

#aestheticize:hover,
#aestheticize:focus {
  color: red;
}

nav {
  position: fixed;
  background: black;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

nav p {
  color: white;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

nav li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

nav button {
  border: none;
  font-size: 12px;
  background: none;
  color: white;
  text-decoration: underline;
  outline: none;
}


nav button:hover,
nav button:focus {
  color: red;
  cursor: pointer;
  outline: 0;
}

main {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 75px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 28px;
  text-decoration: underline;
}

h3 {
  font-size: 22px;
}

main p {
  max-width: 90%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

footer {
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
  position: relative;
  bottom: 0;
  margin-top: 75px;
}

.profile-pic {
  max-width: 90%;
  border-radius: 10px;
  border: solid 2px black;
  margin-bottom: 30px;
}

.project {
  margin-bottom: 75px;
}

.project a {
  margin: 20px;
  text-decoration: none;
  color: black;
}

.project a:hover,
.project a:focus {
  text-decoration: underline;
  color: red;
  outline: 0;
}

.project a,
.project p {
  font-size: 20px;
  max-width: 90%;
}

.project p {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}

.project img {
  max-width: 90%;
  border: 2px solid black;
  border-radius: 10px;
}

.project ul {
  padding: 0;
  max-width: 90%;
  margin: 0 auto;
}

.project li {
  display: inline;
  list-style: none;
}

.project li img {
  border-radius: 100%;
  padding: 5px;
  height: 50px;
  width: 50px;
}

.logo a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
}

.logo img {
  display: block;
  max-height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}

.logo img:hover,
.logo img:focus {
  border-color: red;
}

.other-work ul {
  margin: 0 auto;
  padding: 0;
  max-width: 90%;
}

.logo {
  display: inline;
  list-style-type: none;
}

.contact-info {
  padding: 0;
}

.contact-info li {
  list-style: none;
  margin-bottom: 10px;
}

.contact-info a {
  text-decoration: underline;
  color: black;
}

.contact-info a:hover,
.contact-info a:focus {
  color: red;
}

@media only screen and (min-width: 660px) {
  nav p {
    right: 10px;
    top: -2px;
    position: fixed;
  }

  nav li {
    padding-left: 30px;
    padding-right: 30px;
  }

  nav button {
    font-size: 20px;
  }

  main {
    top: 50px;
  }

  main p {
    max-width: 40%;
  }

  .profile-pic {
    max-width: 50%;
  }

  .project p {
    max-width: 40%;
  }

  .project img {
    max-width: 75%;
  }

  .other-work ul {
    max-width: 75%;
  }

  footer {
    visibility: visible;
  }
}
