nav {
  position: fixed;
  background: black;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

nav li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

nav button {
  border: none;
  font-size: 20px;
  background: none;
  color: white;
  text-decoration: underline;
}

nav button:hover,
nav button:focus {
  color: red;
  cursor: pointer;
}

main {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 30px;
  text-align: center;
  font-family: sans;
}

.project {
  margin-bottom: 50px;
}

.project a {
  margin: 20px;
  text-decoration: none;
  color: black;
}

.project a:hover,
.project a:focus {
  text-decoration: underline;
  color: red;
}

.project a,
.project p {
  font-size: 20px;
}

.project p {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}

.project img {
  max-width: 75%;
  border: 2px solid black;
  border-radius: 10px;
}

.logo img {
  max-width: 30%;
  max-height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}

.logo img:hover,
.logo img:focus {
  border-color: red;
}

.other-work {
  margin-bottom: 50px;
}

.other-work ul {
  margin: 0 auto;
  padding: 0;
  max-width: 75%;
}

.logo {
  display: inline;
  list-style-type: none;
}

.logo a {
  border: none;
  margin: 0;
}

.contact-info {
  text-align: left;
}

.contact-info li {
  margin-bottom: 10px;
}